.icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.pict{
    width: 35px;
    height: 35px;
    margin-left: 5px;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/